header {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.navbar-nav {
  margin-top: 5px;
}

.logo {
  margin: 10px;
  display: inline-block;
}

.navbar-brand {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}


.navbar .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #BDBDBD;
}

.navbar .nav-link.active {
  color: #333333;
}

.search-box {
  position: relative;
  margin-top: 3px;
  max-width: 373px;
  width: 100%;
  margin-right: 35px;
}


.input-search {
  background: #F2F2F2;
  border-radius: 4px;
  width: 100% !important;
  height: 38px;
  border: 1px solid transparent;
}


.input-search:focus {
  border: 1px solid #2F80ED;
  box-shadow: none;
}

.search-btn {
  position: absolute;
  top: 8px;
  right: 2px;
  border: none;
  background-color: transparent;
}

.nav-item .btn-primary {
  background: #2D9CDB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  height: 32px;
  width: 154px;
  line-height: 15px;
  margin-left: 50px;
}

.filters-box {
  margin-left: 190px;
  margin-bottom: 11px;
  width: 100%;
}

.filters-box .btn-primary {
  width: 100%;
  max-width: 130px;
  padding-right: 10px !important;
}

.filters-box .btn-primary,
.filters-box .btn-primary:focus,
.dropdown-item {
  background-color: transparent !important;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #828282 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  margin: 0px 5px;
  padding: 5px;
}

.filters-box .dropdown-toggle {
  position: relative;
  text-align: left;
  padding-right: 10px;
}

.filters-box .dropdown-toggle::after {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: 5px solid #333333;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left: 5px solid transparent;
}

.filters-box .dropdown-menu.show {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
}


.filters-box .dropdown {
  display: inline-block;
  width: 100%;
  max-width: 220px;
  margin-right: 10px;
}

.circle-mark {
  position: relative;

  .circle {
    background: #27AE60;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
  }

  cursor: pointer;

  .name {
    opacity: 0;
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #333333;
    background-color: #ffffff;
    border-radius: 15px;
    transition: .55s opacity, .55s visibility;
    white-space: nowrap;
    height: 30px;
    padding-left: 40px;
    line-height: 30px;
    position: absolute;
    padding-right: 10px;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.circle-mark:hover {
  .circle {
    z-index: 3;
  }

  .name {
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
}

.right-block {
  transition: .55s opacity, .55s visibility;
  opacity: 0;
  visibility: hidden;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 12px 15px;
  width: 293px;
  top: 121px;
  position: fixed;
  right: 10px;
  height: calc(100vh - 131px);
  z-index: 100;
  overflow-y: scroll;
  display: block;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  .hospital-list {
    .title {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #000000;
    }
    td, th {
      width: 180px;
      padding-bottom: 14px;
    }
    tr {
      td {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        .circle {
          background: #27AE60;
          height: 24px;
          width: 24px;
          border-radius: 12px;
          display: inline-block;
          vertical-align: top;
        }
        .percentage {
          vertical-align: top;
          display: inline-block;
          margin-left: 24px;
          margin-top: 4px;
        }
      }
    }
  }
  .hospital-box {
    h1 {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #000000;
      width: 230px;
    }
    .address {
      margin-top: 12px;
      padding-left: 30px;
      background: url("./img/mdi_pin_drop.svg") left top no-repeat;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 18px;
      .coordinate {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        color: #828282;
        margin-top: 6px;
      }
    }
    .phone {
      padding-left: 30px;
      background: url("./img/mdi_phone.svg") left top no-repeat;
      margin-bottom: 26px;
      li {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
      }
    }
    .circle {
      background: #219653;
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      height: 29px;
      line-height: 29px;
      border-radius: 15px;
      width: 100%;
      padding: 0 15px;
      margin: 5px 0;
      .name {
        width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        vertical-align: top;
        float:left;
      }
      .count {
        display: inline-block;
        vertical-align: top;
        float:right;
      }
    }
    p {
      margin: 15px 15px;
    }
    table {
      margin-top: 8px;
      width: 100%;
      th {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 11px;
        color: #333333;
        border-right: 1px solid #E0E0E0;
        text-align: center;
        padding: 0 10px;
        &:first-child {
          text-align: left;
          padding: 0;
          white-space: nowrap;
        }
        &:last-child {
          border-right: 1px solid transparent;
        }
      }
      td {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        color: #333333;
        padding: 0 12px;
        border-right: 1px solid #E0E0E0;
        &:first-child {
          text-align: left;
          padding: 0;
        }
        &:last-child {
          border-right: 1px solid transparent;
        }
      }
    }
  }
}

.circle, .circle-button {
  .danger {
    background: #EB5757;
  }
  .warning {
    background: #EBCA57;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  overflow: hidden;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
