.about {
    margin-top: 82px;

    &__block {
        padding: 3.5rem 0px;
        min-height: 25rem;

        &_filled {
            background-color: #0fb4d2;
            color: white;
        }

        &_header {
            margin: 0 auto;
            margin-bottom: 2rem;
            font-weight: 700;
            line-height: 1.2;
            font-size: 1.4rem;
            text-transform: uppercase;
            text-align: center;
        }
        &_content {
            max-width: 800px;
            margin: 0 auto;
            padding: 15px;
            line-height: 2rem;
            font-size: 1.3rem;
            text-align: justify;
        }
    }

    &__feature_images {
        margin-top: 1rem; 
        img {
            padding: 2rem;
        }
    }
}

.small-text {
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 30px 10px;
    text-align: justify;
}
